# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
public/sqlite3.wasm

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
